# Time Series

For data sources such as usage logs, sensor measurements, and financial instruments, the presence of a time-stamp results in an implicit temporal ordering on the observations.

In these applications, it becomes important to be able to treat the time-stamp as an index around which we can perform several important operations such as:
grouping the data with respect to various intervals of time
* aggregating data across time intervals
* transforming data into regular discrete intervals
* windowing operations based on data from the previous time periods

In this chapter, we will use a dataset obtained from the UCI machine learning repository. The dataset contains measurements of electric power consumption in one household with a one-minute sampling rate over a period of almost 4 years. The entire dataset contains around 2,075,259 measurements gathered between December 2006 and November 2010 (47 months).

##Â IMPORTING DATA

In [1]:
import graphlab as gl
import datetime as dt

In [2]:
household_data = gl.SFrame(
      "https://static.turi.com/datasets/household_electric_sample/household_electric_sample.sf")

This non-commercial license of GraphLab Create for academic use is assigned to sacha.arbonel@isep.fr and will expire on November 29, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1511974837.log

Downloading https://static.turi.com/datasets/household_electric_sample/household_electric_sample.sf/dir_archive.ini to /var/tmp/graphlab-sacha/6985/1b687880-a687-4809-8927-039640334af8.ini

Downloading https://static.turi.com/datasets/household_electric_sample/household_electric_sample.sf/objects.bin to /var/tmp/graphlab-sacha/6985/b91ea9ef-c4d0-48c4-8f86-1e092a4ae3f5.bin

Downloading https://static.turi.com/datasets/household_electric_sample/household_electric_sample.sf/m_c2182265215770ad.frame_idx to /var/tmp/graphlab-sacha/6985/25e1e617-9423-4872-b6b7-b0bee7e7f9fb.frame_idx

Downloading https://static.turi.com/datasets/household_electric_sample/household_electric_sample.sf/m_c2182265215770ad.sidx to /var/tmp/graphlab-sacha/6985/f8f41b81-44ea-4af6-aff6-0001cdafff18.sidx

In [4]:
household_data

Columns:
	Global_active_power	float
	Global_reactive_power	float
	Voltage	float
	DateTime	datetime

Rows: 1025260

Data:
+---------------------+-----------------------+---------+---------------------+
| Global_active_power | Global_reactive_power | Voltage |       DateTime      |
+---------------------+-----------------------+---------+---------------------+
|        4.216        |         0.418         |  234.84 | 2006-12-16 17:24:00 |
|        5.374        |         0.498         |  233.29 | 2006-12-16 17:26:00 |
|        3.666        |         0.528         |  235.68 | 2006-12-16 17:28:00 |
|         3.52        |         0.522         |  235.02 | 2006-12-16 17:29:00 |
|         3.7         |          0.52         |  235.22 | 2006-12-16 17:31:00 |
|        3.668        |          0.51         |  233.99 | 2006-12-16 17:32:00 |
|         3.27        |         0.152         |  236.73 | 2006-12-16 17:40:00 |
|        3.728        |          0.0          |  235.84 | 2006-12-16 17:43:00 |
|        5.894        |          0.0          |  232.69 | 2006-12-16 17:44:00 |
|        7.026        |          0.0          |  232.21 | 2006-12-16 17:46:00 |
+---------------------+-----------------------+---------+---------------------+
[1025260 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

##Â Time series construction